<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite">
    <test name="HW_Run">
        <classes>
            <class name="TestPack">
              <methods>
                <include name="formTest" />
                <include name="windowsTest" />
                <include name="sliderTest" />
              </methods>
            </class>
        </classes>
    </test>
</suite>
